	<!--banner-->
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <%= image_tag("pabelanfb2.jpg", :class => "d-block w-100") %>
		      <div class="carousel-caption d-none d-md-block">
		 	   	<h2 class="tit">Selamat Datang di</h2>
		   		<p class="desc"></p>
		  	  </div>
		    </div>
		    <div class="carousel-item">
		      <%= image_tag("kalpataru.jpg", :class => "d-block w-100") %>
		      	<div class="carousel-caption d-none d-md-block">
		    		<h2 class="tit">Pendidikan dan Lingkungan</h2>
		   			<p class="desc">Terdidiknya santri tidak hanya dirasakan oleh diri mereka sendiri namun juga lingkungannya, mengajarkan dan menjaga kelestarian sebagai sebuah nilai luhur</p>
		   		</div>
		    </div>
		    <div class="carousel-item">
		      <%= image_tag("banner3.jpg", :class => "d-block w-100") %>
		      <div class="carousel-caption d-none d-md-block">
		    		<h2 class="tit">Kunjungan ke Pondok Pesantren Pabelan</h2>
		   			<p class="desc"></p>
		   		</div>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
	<!--end banner-->
	<!--pendidikan-->
	<div class="pendidikan">
		<!--title pendidikan-->
		<h3>Program Pendidikan</h3>
		<!--icon-->
		<div class="icon">
			<!--icon 1 pendidikan-->
			<div class="icon1">
				<%= image_tag("santri2.png") %>
			</div>
			<!--end icon 1 pendidikan-->
			<!--icon 2 pendidikan-->
			<div class="icon2">
				<%= image_tag("santriP.png") %>
			</div>
			<!--end icon 2 pendidikan-->
			<!--icon 3 pendidikan-->
			<div class="icon3">
				<%= image_tag("santriL.png") %>
			</div>
			<!--end icon 3 pendidikan-->
			<!--icon 4 pendidikan-->
			<div class="icon4">
				<%= image_tag("santri2.png") %>
			</div>
			<!--end icon 4 pendidikan-->
		</div>
		<br>
		<!--end icon-->
		<div class="label">
			<h5 class="kmi">KMI</h5>
			<h5 class="mts">MTs</h5>
			<h5 class="takhasus">Takhasus</h5>
			<h5 class="ma">MA</h5>
		</div>
	</div>
	<!--end pendidikan-->
	<!--berita-->
	<div class="berita">
		<!--berita 1-->
		<div class="berita1">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
		</div>
		<!--end berita 1-->
		<!--berita 2-->
		<div class="berita2">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
			  </div>
			  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="card-link">Card link</a>
			  </div>
			  <div class="card-footer text-muted">
			    2 days ago
			  </div>
			</div>
		</div>
		<!--end berita 2-->
		<!--aside-->
		<aside>
			<!--isi dari aside-->
			<div class="isiaside">
				<h5>Berita Terkait Pondok Pesantren Pabelan</h5>
				<hr>
					<ul>
						<li><a href="https://id.wikipedia.org/wiki/Pondok_Pesantren_Pabelan">https://id.wikipedia.org/wiki/Pondok_Pesantren_Pabelan</a></li>
						<li><a href="http://mapabelan.tripod.com/">http://mapabelan.tripod.com/</a></li>
						<li><a href="http://ramadan.sindonews.com/read/762869/68/pesantren-pabelan-lahirkan-banyak-tokoh-1374196950">http://ramadan.sindonews.com/read/762869/68/pesantren-pabelan-lahirkan-banyak-tokoh-1374196950</a></li>
					</ul>
			</div>
			<!--end isi aside-->	
		</aside>
		<!--end aside-->	
	</div>
	<!--end berita-->
	</div>
	<!--explore-->
	<div class="explore">
		<!--title explore-->
		<h3>Explore</h3>
		<!--icon explore 1-->
		<div class="explore1">
			<%= image_tag("explore1.png") %>
			<h5>Aktivitas</h5>
		</div>
		<!--end icon explore 1-->
		<!--icon explore 2-->
		<div class="explore2">
			<%= image_tag("explore1.png") %>
			<h5>Fasilitas</h5>
		</div>
		<!--end icon explore 2-->
		<!--icon explore 3-->
		<div class="explore3">
			<%= image_tag("explore1.png") %>
			<h5>Prestasi</h5>
		</div>
		<!--end icon explore 3-->
	</div>
	<!--end explore-->