<!DOCTYPE html>
<html>
  <head>
    <title>SistemAkademikPonpesPabelanV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="wrapper">
	<!--header-->
	<header>
		<!--gambar atas-->
		<%= image_tag("garis2.jpg", :class => "atas") %>
		<!--navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Informasi
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="/info-psb">Info PSB</a>
				          <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
				        </div>
				    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Portal Pendidikan
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="#">Raport</a>
				          <a class="dropdown-item" href="#">Pengumuman Kenaikan</a>
				          <a class="dropdown-item" href="#">Pengumuman Kelulusan</a>
				        </div>
				    </li>
                    
                 </ul>
                </div>	
		</nav>
		<!--end navbar-->
	</header>
	<!--end header-->
    <%= yield %>
    <!--gambar garis (bawah)-->
    <%= image_tag("garis2.jpg", :class => "bawah") %>
	<!--footer-->
	<footer>
		<!--footer 1-->
		<div class="footer1">
			<!--footer a-->
			<div class="footera">
				<%= image_tag("LogoPabelan.png", :class => "logo") %>
				<!--contact-->
				<div class="contact">
					<a href=""><%= image_tag("facebook.png", :class => "fb") %></a>
					<a href=""><%= image_tag("ig.png", :class => "ig") %></a>
					<a href=""><%= image_tag("email.png", :class => "email") %></a>
					<a href=""><%= image_tag("tlp.png", :class => "tlp") %></a>
					<a href=""><%= image_tag("loc.png", :class => "loc") %></a>
				</div>
				<!--end contact-->
			</div>
			<!--end footer a-->
			<!--footer b-->
			<div class="footerb">
				<h4>Contact Info</h4>
				<p>PO BOX 800 Mungkid Magelang Jawa Tengah</p>
				<p>Email : supportpabelan@gmail.com</p>
				<p>Phone : (0293) 782040</p>
			</div>
			<!--end footer b-->
			<!--footer c-->
			<div class="footerc">
				<%= image_tag("depag.png", :class => "depag") %>
				<%= image_tag("binanbud.png", :class => "binanbud") %>
			</div>
			<!--end footer c-->
		</div>
		<!--end footer 1-->
		<!--footer 2-->
		<div class="footer2">
			<center>
				<label>&copy Pondok Pesantren Pabelan 2017</label>
			</center>
		</div>
		<!--end footer 2-->
	</footer>
	<!--end footer-->
</body>
</html>
